@{
    Layout = null;
}
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/MyScript")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<div class="container" style="text-align:center">

    <div id="restorePasswordModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="container">
                    <h3 style="text-align:center; color:#fa9a33">Восстановление пароля</h3>
                    <lable>Введите телефон или адрес электронной почты:</lable>
                    <br />
                    <input class="input-lg" type="text" />
                    <br />
                    <a class="btn btn-default" data-dismiss="modal"><span class="fa fa-close" style="font-size:20px;color:#7095b7;margin-bottom:10px"> Закрыть</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-md-4 col-lg-4"></div>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <h1 style="text-align:center; color:#7095b7; margin-top:100px">Войти</h1>
        <h3 class="text-center login-title">Войдите для того, что бы начать роботу с UGV</h3>
        <div class="account-wall">
            <img class="profile-img" src="~/Content/images/user_login_icon.svg" />
            @using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "form-signin" }))
            {
                <div class="input-group input-group-lg" style="margin-top:20px;">
                    <span align="center" class="input-group-addon"><span class="glyphicon glyphicon-user" style="font-size:16px"></span></span>
                    <input id="Email" name="Email" type="text" class="form-control" required placeholder="Email/Телефон" oninvalid="this.setCustomValidity('Неверный Email или телефон')">
                </div>

                            <div class="input-group input-group-lg" style="margin-top:20px;"> 
                                <span class="input-group-addon"><span class=" glyphicon glyphicon-eye-close" style="font-size:16px;"></span></span>
                                @if (ViewBag.Password != null)
                                {
                                <input id="Password" name="Password" type="password" class="form-control" value="@ViewBag.Password" required placeholder="Пароль">
                                }
                                else
                                {
                                <input id="Password" name="Password" type="password" class="form-control" required placeholder="Пароль">
                                }
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:40px; background-color:#fa9a33">
                                Далее
                            </button>

                            <h3 style="text-align:center; color:black; margin-top:50px">
                                <a data-toggle="modal" href="#restorePasswordModal">Забыли пароль?</a>
                            </h3>
                            <h4 style="text-align:center; color:black">
                                Нет аккаунта? @Html.ActionLink("Регистрация", "SignUp")
                            </h4>
                if (ViewBag.Result != null)
                {
                    <div id="ErrorMessage" class="alert alert-danger" style="margin-top:50px; border: 1px solid red; text-align:center">@ViewBag.Result</div>
                }
            }
        </div>
    </div>
    <div class="col-sm-3 col-md-4 col-lg-4"></div>
</div>