@{ 
    Layout = null;
    AjaxOptions options = new AjaxOptions()
    {
        OnSuccess = "RequestOnSuccess",
        Url = Url.Action("SellCharge")
        
    };
 }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Услуги</title>
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <style>
        #exTab2 h3 {
            padding: 5px 15px;
        }
        .nav-tabs > li {
            float: none;
            display: inline-block;
            *display: inline; /* ie7 fix */
            zoom: 1; /* hasLayout ie7 trigger */
        }
        .nav-tabs, .nav-pills {
            text-align: center;
        }
        @@media (min-width:992px){
            .modal-lg{
                width:900px;
            }
        }
        .modal-sm {
            width: 300px
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default" style="border-radius:0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("index", "Home")">UGV</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#section1"><span class="glyphicon glyphicon-globe"></span> О Компании</a></li>
                    <li><a href="#section2"><span class="glyphicon glyphicon-phone"></span> Смартфон</a></li>
                    <li><a href="#section3"><span class="glyphicon glyphicon-earphone"></span> Контакты</a>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-tags"></span>Услуги<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ServicesForPrivatePerson", "Home")">Частным лицам</a></li>
                            <li><a href="@Url.Action("ServicesForLegalBody", "Home")">Юридическим лицам</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("FindCharge", "Home")"><span class="glyphicon glyphicon-map-marker"></span> Найти заправку</a></li>
                    <li><a href="@Url.Action("LogIn", "Account")"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="SellChargeResultModal">
        <div class="modal-dialog">
            <div class="modal-content" id="content" style="height:auto;">
                <div class="modal-body">
                    <div class="alert alert-success">Ваш заказ принят!</div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modal-content">
                <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <h2 style="text-align:center; color:#fa9a33; font-family:robotolight">Заинтересованы в покупке станции?<span data-dismiss="modal" class="fa fa-close hover-blue-opacity" style="font-size:26px;color:#7095b7; float:right"></span></h2>
                </div>
                <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-mod-6 col-lg-6">
                                <div style="text-align:left; font-size:18px; margin-top:60px; font-family:robotolight;">
                                    Благодарим Вас за интерес к UGV!
                                    Для получения дополнительной информации о продуктах, услугах, ценообразовании, установке,
                                    пожалуйста, заполните форму ниже, и представитель UGV свяжется с Вами.
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <h3 style="text-align:left; color:#fa9a33; font-family:robotolight; font-weight:500">Отдел продаж UGV</h3>
                                <h5 style="text-align:left;color:#7095b7"><i class="glyphicon glyphicon-phone" style="color:#7095b7"></i> Телефон</h5>
                                <h5>
                                    +38 (061) 213-86-83
                                    <br />
                                    +38 (061) 218-74-78
                                    <br />
                                    +38 (061) 213-78-55
                                    <br />
                                    +38 (061) 213-79-55
                                </h5>
                                <hr />

                                <h5 style="text-align:left;color:#7095b7"><i class="fa fa-map-marker" style="color:#7095b7"></i> Адрес</h5>
                                <h5>
                                    69001, Украина, Запорожье,
                                    бул. Тараса Шевченко, 56
                                </h5>
                                <hr />

                                <h5 style="text-align:left;color:#7095b7"><i class="fa fa-at" style="color:#7095b7"></i> Электронная почта</h5>
                                <h5>
                                    sales@ia.ua
                                </h5>
                                <hr />
                            </div>
                        </div>
                    </div>                  
                    <!--Запрос на покупку станции-->
                    <div class="container">
                                    @using (Ajax.BeginForm(options))
                                    {
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <h3 style="text-align:left;color:#fa9a33;font-family:robotolight">Свяжитесь с нами</h3>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <h5 style="text-align:left;color:#7095b7">Имя</h5>
                                                <input class="form-control" name="Name" required />
                                                <h5 style="text-align:left;color:#7095b7">Фамилия</h5>
                                                <input class="form-control" name="SecondName" required />

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <h5 style="text-align:left;color:#7095b7">Рабочий Email</h5>
                                                <input class="form-control" name="WorkEmail" type="email" required />
                                                <h5 style="text-align:left;color:#7095b7">Рабочий телефон</h5>
                                                <input class="form-control" name="WorkPhone" title="Формат +38(050)5550505" pattern="\+38\([0-9]{3}\)[0-9]{7}" required />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <input type="submit" value="Оформить" class="btn btn-default" style="background-color:#7095b7; color:white;margin-top:10px">
                                            </div>
                                        </div>
                                    }
                    </div>
                </div>
                <!-- Футер модального окна -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="background-color:#fa9a33" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
   
    

    <div class="container text-center" style="color:#fa9a33"><h2>Наши Услуги</h2></div>

    <div id="exTab2" class="container" style="margin-top:30px">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1" data-toggle="tab">Купть запраку</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab">Арендовать заправку</a>
            </li>
            <li>
                <a href="#models" data-toggle="tab">Модельный ряд</a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="1">
                <h3 class="text-center" style="color:#fa9a33;margin-top:20px; margin-bottom:30px">Купить заправку</h3>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                        <img class="img-responsive" src="~/Content/images/evlink-parking.png" style="margin-top:100px">
                        <button id="BuyChargeBtn" class="btn btn-lg" style="margin-top:50px;margin-bottom:20px;text-align:center; background-color:#fa9a33; color:white" data-toggle="modal" data-target="#dialog" >Купить</button>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div id="exTab2" class="container">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="#3" data-toggle="tab">Краткое описание</a>
                                </li>
                                <li>
                                    <a href="#4" data-toggle="tab">Тех. характеристики</a>
                                </li>
                            </ul>
                            <div class="scroll">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="3">
                                        <h4 style="color:#7095b7">Предложение по зарядной станции</h4>
                                        <ul>
                                            <li>Совместима с сетью электропитания: 220–240 В / 380–415 В.</li>
                                            <li>7,4 кВт или 22,1 кВт (32 А для сети 230/400 В); сила тока устанавливается в пределах 6–32 А.</li>
                                            <li>Высокая прочность розетки (типа 2 или типа 2 со шторками) благодаря посеребренному контакту, не подвергающемуся перегреву.</li>
                                            <li>Различные конфигурации: идентификация пользователя, одна или две розетки, напольная или настенная.</li>
                                        </ul>
                                        <h4 style="color:#7095b7">Дополнительные возможности</h4>
                                        <ul>
                                            <li>Ethernet соединение с системой управления через GPRS-модем.</li>
                                        </ul>
                                        <h4 style="color:#7095b7">Предложение по вспомогательным устройствам</h4>
                                        <ul>
                                            <li>Кабели, карты радиочастотной идентификации, держатель кабеля, модем и т. д.</li>
                                        </ul>
                                        <h4 style="color:#7095b7">Запасные части</h4>
                                        <ul>
                                            <li>Напольное основание, настенное основание, розетка, крышки, щиток и т. д.</li>
                                        </ul>
                                        <h4 style="color:#7095b7">Предложение по услугам</h4>
                                        <ul>
                                            <li>Всемирная сеть сертифицированных монтажных организаций, предлагающих установку на месте эксплуатации, ввод в эксплуатацию, план технического обслуживания, а также ремонт по запросу и договоры управления активами.</li>
                                            <li>Всемирный центр обслуживания клиентов.</li>
                                            <li>Регистрация QR-кода в приложении для быстрого поиска станции. Дополнительная информация о приложении CStracker доступна на стр. 37.</li>
                                        </ul>
                                        <h4 style="color:#7095b7">Оптимизированная структура</h4>
                                        <ul>
                                            <li>Автономная или групповая структура.</li>
                                            <li>Подключенная или не подключенная к службам наблюдения (через протокол связи OCPP 1.5).</li>
                                            <li>Электрические защитные устройства во внешнем шкафу или встроенные в напольный каркас на автостоянке.</li>
                                        </ul>
                                        <h4 style="color:#7095b7">Простая установка</h4>
                                        <ul>
                                            <li>Для переноса и обслуживания нужен всего один человек.</li>
                                            <li>Техническая документация для установки, ввода в эксплуатацию и диагностики доступна в комплекте с изделием и на сайте.</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="4">
                                        <h4 style="color:#7095b7">Сеть электропитания </h4>
                                        <ul>
                                            <li>
                                                Система заземления: TT, TN или IT
                                                <ul>
                                                    <li>IT: может потребоваться дополнительный изолирующий трансформатор для зарядки определенных транспортных средств.</li>
                                                </ul>
                                            </li>
                                            <li>Частота: 50 Гц или 60 Гц.</li>
                                            <li>
                                                Цепь питания розетки (1 цепь/1 розетка)
                                                <ul>
                                                    <li>220/240 В 1 фаза + нейтраль или</li>
                                                    <li>380/415 В 3 фазы + нейтраль. </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Напряжение цепи управления (для зарядной станции):
                                                <ul>
                                                    <li>220/240 В 1 фаза + нейтраль.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <h4 style="color:#7095b7">Режимы зарядки</h4>
                                        <ul>
                                            <li>
                                                Режим Mode 2 c
                                                <ul>
                                                    <li>10 A/тип E (франц. стандарт) домашняя розетка; </li>
                                                    <li>10 A/тип F (нем. стандарт) домашняя розетка. </li>
                                                </ul>
                                            </li>
                                            <li>Режим Mode 3 с розеткой Т2 (со шторками или без них). </li>
                                            <li>Связь между зарядной станцией и транспортным средством по зарядному кабелю соответствует стандарту МЭК 61851. </li>
                                        </ul>
                                        <h4 style="color:#7095b7">Устройство радиочастотной идентификации RFID </h4>
                                        <ul>
                                            <li>
                                                Устройство радиочастотной идентификации RFID 13,56 МГц, для карт, отвечающих требованиям стандартов.
                                                <ul>
                                                    <li>ISO/МЭК 14443 A и B, ISO/МЭК 15693; </li>
                                                    <li>Mifare® Ultralight, Mifare® Classic, Calypso®. <label style="font-size:12px">Для получения информации по другим стандартам свяжитесь с нами.</label></li>
                                                </ul>
                                            </li>
                                            <li> С каждой зарядной станцией, оборудованной устройством радиочастотной идентификации, прилагается 10 RFID-карт.</li>
                                        </ul>
                                        <h4 style="color:#7095b7">Механические и экологические характеристики</h4>
                                        <ul>
                                            <li>Окрашенный стальной корпус, антикоррозийная обработка.</li>
                                            <li>Защита: IP54 (МЭК 60529), IK10 (МЭК 62262).</li>
                                            <li>Рабочая температура: -25 °C до +40 °C для зарядных станций Mode 2/Mode 3.</li>
                                            <li>Рабочая температура: -25 °C до +50 °C только для зарядных станций Mode 3.</li>
                                        </ul>
                                        <h4 style="color:#7095b7">Подключение к сети передачи данных</h4>
                                        <ul>
                                            <li>TCP/IP.</li>
                                            <li>Поиск и извлечение данных по протоколам FTP, SMTP или HTTP.</li>
                                            <li>
                                                Операции:
                                                <ul>
                                                    <li>удаленная авторизация пользователя;</li>
                                                    <li>выборка данных для записи данных зарядной сессии;</li>
                                                    <li>мониторинг состояния зарядной станции;</li>
                                                    <li>получение удаленных команд.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <h4 style="color:#7095b7">Сертификаты</h4>
                                        <ul>
                                            <li>Схема CE и CB (стандарты МЭК 61851-1 и МЭК 61851-22).</li>
                                            <li>Сертификаты EV Ready и ZE Ready. </li>
                                            <li>EAC.</li>
                                        </ul>
                                        <h4 style="color:#7095b7">Гарантия</h4>
                                        <ul>
                                            <li>24 месяца на весь модельный ряд EVlink.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="2">
                <h3 class="text-center" style="color:#fa9a33">Аренда заправки</h3>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <img class="img-responsive"  src="~/Content/images/evlink-parking.png" style="width:80%" />
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                       
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="models">
                <h3 class="text-center" style="color:#fa9a33">Модельный ряд</h3>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <img class="img-responsive"  src="~/Content/images/evlink_models.jpg" style="width:80%" />
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                       
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <script type="text/javascript">
        function RequestOnSuccess() {
            $('#dialog').modal('hide');
            $('#SellChargeResultModal').modal('show');
            window.setTimeout(hide, 3000);
        }
        function hide() {
            $('#SellChargeResultModal').modal('hide');
        }
    </script>
 </body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
